$primaryColor: #FF0000;
$imageWidth: 200px;
$imageHeight: 200px;
$imageMargin: 10px;
$imagePadding: 6px;

body {
  font-family: Verdana;
  font-size: 1.5em;
  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
  float: left;
  border: 1px solid gray;
  margin: $imageMargin;
  padding: $imagePadding;
  }

  .member img {
  width: $imageWidth;
  height: $imageHeight;
  }

  .member div.name {
  text-align: center;  
  }
}