$primaryColor: #FF0000;
$imageWidth: 200px;
$imageHeight: 200px;
$imageMargin: 10px;
$imagePadding: 6px;
$imageBorderRadius: 15px;

body {
  font-family: Verdana;
  font-size: 1.5em;
  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: $imageMargin;
    padding: $imagePadding;
    img {
      width: $imageWidth;
      height: $imageHeight;
      border-radius: $imageBorderRadius;
    }
    img.normal {
      display: none;
    }
    div.name {
      text-align: center;  
    }
  }
  .member:hover {

    img.normal {
      display: inline;
    }

    img.blur {
      display: none;
    }
  }
  
}